
div {
  width: 100px;
  height: 100px;
  animation-name: slidein;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes slidein {
from { margin-left: 0%; }
  0%   {background-color: red; margin-left: 0%; }
  20%  {background-color: yellow; margin-left: 10%; margin-top: 10%;}
  40%  {background-color: blue; margin-left: 20%; margin-top: 20%;}
  60%  {background-color: purple; margin-left: 30%; margin-top: 10%;}
  80% {background-color: pink; margin-left: 40%; margin-top: 0%;}
  100% {background-color: red; margin-left: 0%;}
to { margin-left: 0%; }
}


